name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17 (Gradle 8+ compatible)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Flutter doctor (debug)
        run: flutter doctor -v

      - name: Get packages
        run: flutter pub get

      # Optionnel mais utile pour voir les erreurs réelles
      - name: Build APK (debug, verbeux)
        run: flutter build apk --debug -v

      - name: Upload debug APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: build/app/outputs/flutter-apk/app-debug.apk

      # Si tu veux aussi un APK release non signé (facile à tester)
      - name: Build APK (release, non-signed)
        run: flutter build apk --release -v

      - name: Upload release APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: app-release-unsigned
          path: build/app/outputs/flutter-apk/app-release.apk
